<!DOCTYPE HTML>
<html>
	<head>
		<title>Product Rating System</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
	</head>
	<body>
		<div class="page-wrap">

			<!-- Main -->
				<section id="main">

					<!-- Banner -->
						<section id="banner" style="background-image: url(../static/banner.jpg)">
							<div class="inner">
								<h1>Welcome</h1>
								<!--<p>Generate Product Rating Based on Customer Feedback</a></p> -->
								<p>Automated Review Filtering and Rating Generation System</a></p>
								<ul class="actions">
									<li><a href="#galleries" class="button alt scrolly big">View Demo</a></li>
								</ul>
							</div>
						</section>

					<!-- Gallery -->
						<section id="galleries">

							<!-- Product Galleries -->
								<div class="gallery"  >
									<header class="special">
										<h2>Our Products</h2>
									</header>
									<div class="content">
										<div class="media">
											<a href="{{ url_for('jacket') }}"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="Image" title="This right here is a caption." /></a>
											<h3 id="mytext">Women's Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Women's Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1"> 4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
										<div class="media">
											<a href="#"><img src="{{ url_for('static', filename='images/022.jpg') }}" alt="" title="This right here is a caption." /></a>
											<h3 id="mytext">Men's Denim Jacket</h3>
											<h4 id="mytext1">4,500 TK &nbsp &nbsp | &nbsp &nbsp 0.0 Stars</h4>
										</div>
									</div>
									<footer>
										<a href="#" class="button big">More Products</a>
									</footer>
								</div>
						</section>
				</section>
		</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>